.side-cart {
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease;
  z-index: 1000;
  padding: auto;
}

.side-cart.open {
  right: 0;
}

.toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Ajustar el contenido principal cuando el carrito está abierto */
.main-content {
  transition: margin-right 0.3s ease;
  flex-grow: 1;
}

.side-cart.open + .main-content {
  margin-right: 300px; /* Ajusta el margen a la derecha del contenido principal para dejar espacio al carrito */
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px; 
  border: 1px;
  align-items: center; 
}

.cart-item Button{
  margin-left: auto; /* Mueve el botón hacia la derecha */
  background-color: #ffffff;
  border: 0;
}
